---
import Layout from '@/layouts/Layout.astro';
import { supabase } from '@/db/supabase';
import CommentsList from '@/components/CommentsList.astro';
import CommentForm from '@/components/CommentForm.astro';

const { id } = Astro.params;

if (!id) {
  throw new Error("ID de redactor no proporcionado.");
}

const { data: article, error } = await supabase
  .from('article')
  .select('*, profiles!inner(full_name)')
  .eq('id', Number(id)).single();

if (error || !article) {
  throw new Error("Artículo no encontrado.");
}
---

<Layout>
  <article class="max-w-3xl mx-auto my-8">
    <h1 class="text-4xl font-bold mb-4">{article?.title}</h1>
    <img src=`${article?.imgurl}` alt="Imagen del artículo" class="w-full h-auto rounded mb-6" />
    <div class="prose prose-lg mb-6" ><p> {article?.body}</p></div>
    <div class="text-sm text-gray-600 border-t py-4">
      <p><strong>Autor: </strong>{article?.profiles.full_name}</p>
      <p>
        <strong>Publicado el:</strong>{' '}
        {new Date(String(article?.timestamp)).toLocaleDateString('es-ES', {
          day: 'numeric',
          month: 'long',
          year: 'numeric',
        })}
      </p>
    </div>

    <!-- Sección de comentarios -->
    <section class="border-t">
      <CommentForm articleId={article.id} />
      <CommentsList articleId={article.id} articleAuthor={article.author} />
    </section>
  </article>
</Layout>
