---
export interface Props {
  title: string;
  summary?: string;
  image: string;
  date: string;
  author: string;
  url: string;
  tags: string[];
  featured?: boolean;
}

const { title, summary = '', image, date, author, url, tags, featured = false} = Astro.props;

const imageFeatured = featured ? 'h-70' : 'h-40';
const titleFeatured = featured ? 'text-2xl line-clamp-3' : 'text-lg line-clamp-2';
const summaryFeatured = featured ? 'text-base line-clamp-3' : 'text-sm line-clamp-2';
---
<div class="bg-white border border-[#2a2b2a]/10 shadow-sm hover:shadow-md transition-shadow rounded-xl overflow-hidden flex flex-col h-full">
    <img src={image} alt="Imagen de la noticia" class={`w-full object-cover ${imageFeatured}`}>
	<div class="p-4 flex flex-col justify-between flex-1">
		<div class="mb-2">
			<div class="flex flex-wrap gap-2 mb-2">
				{tags?.map((tag, i) => (
					<span class="text-xs px-2 py-0.5 bg-[#a31621]/10 text-[#a31621] rounded-full">{tag}</span>
				))}
			</div>
			<p class="text-xs text-gray-500 mb-1">{date} — Por {author}</p>
			<h2 class={`font-bold text-gray-800 mb-2 ${titleFeatured}`}>{title}</h2>
      		<p class={`text-gray-600 ${summaryFeatured}`}>{summary}</p>
		</div>
		<a href={url} class="mt-auto text-blue-600 hover:underline text-sm font-semibold">Leer más →</a>
	</div>
</div>